@media (min-width: 1200px){
    .sparky_container {
        width: 1280px;
    }
}

.sparky_container {
    margin: 0 auto;
    padding: 0 90px;
}
a:active, a:focus {
	outline: none !important;
}
 a::-moz-focus-inner {
	border: 0 !important;
}

/* top block */
.custom.tep-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
}
.tep-top h3 {
    font-family: 'DejaVu Sans Condensed';
    font-size: 14.8px;
    line-height: 21px;
    font-weight: 400;
    color: #44535c;
}
a.tp-a {
    font-family: 'DejaVu Sans Condensed';
    font-size: 14.3px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #941345;
    width: 165px;
    height: 33px;
    padding: 7px 15px;
    border: 2px solid #941345;
    border-radius: 16.5px;
}
a.tp-a:hover {
    color: #fff;
    border: 2px solid #941345;
    background-color: #941345;
}
.hd2-tel a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

/* header block */
#header {
    margin: 35px 0;
}
.custom.tp-logo {
    width: 327px;
}
.mp_header1 {
    margin-top: 30px;
    padding: 15px 70px 0 80px;
    border-right: 2px solid #e0e5ed;
    height: 84px;
}
.hd1-tel {
    font-family: 'DejaVu Sans Condensed';
    font-size: 13.2px;
    line-height: 16px;
    font-weight: 700;
    color: #941345;
    float: left;
}
.hd2-tel {
    float: right;
}
.hd2-tel a {
    font-family: 'DejaVu Sans Condensed';
    font-size: 13.2px;
    font-weight: 700;
    text-transform: uppercase;
    color: #44535c;
    line-height: 18px;
}
.hd1-tel::before {
    content: url(../my-images/svg/phone-01-2.svg);
    width: 21px;
    display: block;
    float: left;
    padding-right: 15px;
}
.hd1-adress {
    font-family: 'DejaVu Sans Condensed';
    font-size: 13.2px;
    line-height: 21px;
    font-weight: 700;
    color: #941345;
}
.hd1-adress::before {
    content: url(../my-images/svg/adress-01.svg);
    width: 18px;
    display: block;
    float: left;
    padding-right: 15px;
}
.hd2-adress {
    line-height: 18px;
    font-weight: 400;
    color: #44535c;
    float: right;
    padding-left: 35px;
}
.custom_tph-2 {
    float: right;
    padding-top: 5px;
}
.mp_header2 {
    margin-top: 30px;
    padding-top: 10px;
}

/* menu block */
#menu {
    background-color: #941345;
    height: 60px;
}
.dj-megamenu-default li a.dj-up_a.active > span{
    font-family: 'DejaVu Sans Condensed';
    font-size: 16.5px;
    line-height: 21px!important;
    height: auto!important;
    font-weight: 700;
    text-transform: uppercase;
    color: #eff2f8;
}

#dj-megamenu91 li:hover a.dj-up_a, #dj-megamenu91 li.hover a.dj-up_a, #dj-megamenu91 li.active a.dj-up_a{
    border-radius: 15px;
}

.dj-megamenu-default li a.dj-up_a > span{
    font-family: 'DejaVu Sans Condensed';
    font-size: 16.5px;
    line-height: 32px!important;
    height: auto!important;
    font-weight: 400;
    text-transform: uppercase;
    color: #eff2f8;
}
#dj-megamenu91 li.active a.dj-up_a{
    border-radius: 15px;
    padding: 5px 15px;
}
#dj-megamenu91 li a.dj-up_a{
    height: auto;
    border: none;
    margin: 0 2px!important;
    height: 30px;
    padding: 0 8px;
}
.mp_top2 {
    padding-top: 15px;
}

/* Slider block*/
a.slade-btt {
    color: #44535c!important;
    font-weight: 700;
}
a.slade-btt:hover {
    color: #fff!important;
}
.tp-caption.large_bg_black.tp-fade:hover {
    background-color: #44535c;
}
.tp-leftarrow.default {
    background: url(/media/com_uniterevolution2/assets/rs-plugin/assets/arrow_left.svg) no-repeat 0 0!important;
    width: 23px!important;
    height: 36px!important;
    background-size: contain!important;
}
.tp-rightarrow.default{
    background: url(/media/com_uniterevolution2/assets/rs-plugin/assets/arrow_right.svg) no-repeat 0 0!important;
    background-size: contain!important;
    width: 23px!important;
    height: 36px!important;
}
.tp-bullets.simplebullets.round {
    height: 28px!important;
}
.tp-bullets.simplebullets.round .bullet {
    width: 14px!important;
    height: 28px!important;
}

/* count block */
#count {
    padding-bottom: 70px;
}
.custom.tp-about {
    text-align: center;
    padding-top: 100px;
}
p.tp-bnf1 {
    font-family: 'DejaVu Sans Condensed';
    font-size: 19.8px;
    line-height: 1.2;
    font-weight: 700;
    color: #2f4d8a;
}
p.tp-bnf2 {
    font-family: 'DejaVu Sans Condensed';
    font-size: 14.8px;
    line-height: 1.2;
    font-weight: 400;
    color: #121212;
    padding-top: 40px;
}
.noid .counter_number {
    font-family: 'DejaVu Sans Condensed';
    font-weight: 700;
    margin: 55px 0 0;
}
.noid .counter_text {
    font-family: 'DejaVu Sans Condensed';
    font-weight: 400;
}

/* licenses block*/
#licenses {
    background-color: #F5F6FA;
}
#licenses {
    padding: 60px 0 90px;
}
.tp-h3-licz {
    font-family: 'DejaVu Sans Condensed';
    font-size: 29.6px;
    line-height: 1.2;
    font-weight: 700;
    color: #941345;
    padding: 0 0 75px;
    text-align: center;
}
.licenz-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.licenz-flex-itm-1, .licenz-flex-itm-2, .licenz-flex-itm-3, .licenz-flex-itm-4 {
    padding: 0 20px;
}
#fancybox-close {
    right: -35px!important;
}

/*  contact block */
#contacts {
    border-top: 16px solid #941345;
    padding: 70px 0 80px;
}
.tp-h3-cont {
    font-family: 'DejaVu Sans Condensed';
    font-size: 29.6px;
    line-height: 1.2;
    font-weight: 700;
    color: #44535c;
    text-align: center;
    padding: 0 0 70px;
}
.tp-cont-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.item-cont-flex1 .hd1-tel {
    padding-right: 25px;
}

/* map block*/
#bottom-map .sparky_container {
    padding: 0;
    width: 100%;
}

/* bottom bloks */
#bottom-call {
    border-bottom: 1px solid #eee;
}
ul.menu {
    list-style: none;
    margin: 15px 35px;
}
ul.mnu_bottom-menu1{
    margin: 15px 35px 15px 0!important;
}
ul.mnu_bottom-menu4{
    margin: 15px 0 15px 35px!important;
}
.menu li.deeper > a {
    font-family: Arial;
    font-size: 11.5px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.024em;
    color: #44535c;
}
ul.menu ul {
    list-style: disc;
    margin: 15px 0 15px 35px;
}
ul.menu ul > li > a {
    font-family: 'DejaVu Sans Condensed';
    font-size: 11.5px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.024em;
    color: #9d9d9d;
}
ul.menu ul > li {
    line-height: 17px;
}
ul.menu li {
    line-height: 17px;
}

/* menu bottom block */
.mnu_mainmenu > li > a {
    font-size: 15px;
    color: #941345;
    text-transform: uppercase;
    font-weight: bold;
}
ul.navh.mnu_mainmenu {
    margin: 0;
    display: flex;
    justify-content: center;
}
#bottom-menu {
    padding: 60px 0 0;
}
.mnu_mainmenu {
    font-family: 'DejaVu Sans Condensed';
}

/* footer block */
p.tp-footer {
    font-family: 'DejaVu Sans Condensed';
    font-size: 11.5px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.024em;
    color: #174c90;
}
.tp-footer a {
    font-family:'DejaVu Sans Condensed';
    font-size: 11.5px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.024em;
    color: #174c90;
    text-decoration: underline;
}
.mp_footer {
    padding: 30px 0 30px;
}